.exp {
    margin-top: 20px;
}
.exp__title {

}
.miniTitle.exp__miniTitle {
    margin-top: 16px;
    color: #BCBCBC;
    font-family: IgraSans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.exp__block {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}
.exp__jobs {
    width: 36%;
}
.exp__jobs:nth-child(2) {
    width: 16%;
}
.exp__jobs_job a, .exp__jobs_job-where, .exp__jobs_job-company{
    text-transform: uppercase;
}
.exp__jobs_job {
    margin-bottom: 109px;
}
.exp__jobs_job-text {
    margin-top: 25px;
}

.exp__block-down {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.exp__achivments {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}
.exp__achivments-text {
    margin-top: 32px;
}
.exp__jobs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exp-photos {
    width: 30.589%;
}
.exp-photos-block, .exp-photos-block img {
    width: 100%;
}

@media(max-width:1650px) {
    .exp-photos-block img:first-child {
        left: -50%;
    }
    .exp-photos-block img:last-child {
        left: 0;
    }
}
@media(max-width:1200px) {
    .exp-photos-block img {
        width: 230px;
    }
}
@media(max-width:910px) {
    .exp {
        padding-bottom: 150px;
    }
    .exp-photos-block img {
        display: none;
    }
    .exp__block {
        margin-top: 50px;
        width: 100%;
    }
    .exp__jobs {
        width: 100%;
    }
    .exp__jobs_job {
        margin-bottom: 90px;
    }
    .exp__achivments-text {
        margin-top: 0;
    }
    .exp__achivments {
        height: 145px;
    }
}
@media(max-width:768px) {
    .miniTitle.exp__miniTitle {
        margin-top: 12px;
    }
    .exp__block-down .exp__achivments {
        width: 100%;
        height: 80px;
    }
    .exp__block-down .exp__achivments:last-child {
        display: none;
    }
}